/* global */
svg path{
    fill: currentColor;
}
.nav-svgs{
    height: 30px;
}
.nav-text{
    font-size: 2rem;
}
.text-hover:hover{
    color: #e2865f !important;
}
/* colors */
.color-1{
    color: #ed3f6a;
}
.color-2{
    color: #f3f2c8;
}
.color-3{
    color: #5f6037;
}
.color-4{
    color: #c1c9ff;
}
.color-5{
    color: #e2865f;
}
/* end colors */
/* backgrounds */
.bg-1 {
    background-color: #ed3f6a;
}
.bg-2 {
    background-color: #f3f2c8;
}
.bg-3 {
    background-color: #5f6037;
}
.bg-4 {
    background-color: #c1c9ff;
}
.bg-5 {
    background-color: #e2865f;
}
/* end backgrounds */
/* end glibals */
/* header */
/* navbar */
.navbar-placeholder{
    width: 100vw;
    height: 55px;
}
.nav-menu{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1040;
}
.brand{
    position: fixed;
    z-index: 1040;
    width: 20vw;
    text-align: center;
}
.nav-text{
    font-size: 1.5rem;
}
main {
    margin-top: 5vh;
}
@media screen and (max-width:999px){
    .brand{
        width: 40vw;
    }
    .navbar-collapse{
        margin-top: 10vw;
    }
}
@media screen and (max-width:380px){
    .brand {
            width: 60vw;
        }
}
/* end navbar */
/* end header */
/* main */
.table-width{
    min-width: 800px;
}
th{
    font-size: 1.5rem;
    color: #5f6037;
}
td{
    font-size: 1.2rem;
}
.profile-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    border: #5f6037 5px solid;
    outline: #c1c9ff 5px solid;
}
.normal-text{
    font-size: 1.4rem;
}
.carousel-image {
    margin-top: 65px;
    height: 75vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}
.card-image-top{
    height: 45vh;
    object-fit: cover;
    object-position: center;
}
.why-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

@media screen and (max-width:750px) {
    .carousel-image {
        height: 50vh;
    }
}
/* end main */
/* footer */
.footer-svg{
    height: 100px;
}
.footer-svg-2{
    height: 50px;
}
/* end footer */